<app-main-page ></app-main-page>

<div>
  <div #bsStepper id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header col-3 d-flex justify-content-center mx-auto">
      <div class="step" data-target="#test-l-1">
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label"  *ngIf="dataTax.filingType !== '1'">Input Tax</span>
          <span class="bs-stepper-label"  *ngIf="dataTax.filingType == '1'">Input Detail</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-2">
        <button class="step-trigger" [disabled]="checkStep == 1">

          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">Review & Confiem</span>
        </button>
      </div>
    </div>
      <div class="bs-stepper-content">
        <div id="test-l-1" class="content">
          <div class="form-group">
            <div class="col d-flex justify-content-center mx-auto">
              <div class="card " style="width: 80%;">
                <div class="card-body">
                  <div>
                    <h5 class="card-title ">1 .Tax Filing Detail</h5>
                    <hr>
                    <p class="fw-normal">Type of filing <span class="textStar"> * </span> </p>
                    <app-filing-type (OnfilingType)="OnfilingType($event)"></app-filing-type>

                    <p class="fw-normal my-3">VAT Month  <span class="textStar"> * </span></p>
                    <div class="row g-2">
                      <div class="col-md-2">
                        <app-month (Onselectmonth)="Onselectmonth($event)"></app-month>
                      </div>
                      <div class="col-md-2">
                        <app-year (OnselectYear)="OnselectYear($event)"></app-year>
                      </div>
                      <div *ngIf="dataTax.filingType == '1'" class="col-md-2">
                        <app-on-time (OnonTime)="OnonTime($event)"></app-on-time>
                      </div>
                    </div>

                  </div>
                  <div class="my-5">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title ">2 .Tax Computtion </h5>
                      <p class="card-title text-decoration-underline " (click)="view()">View Exchange Rate</p>

                    </div>
                    <hr>

                    <p class="fw-bold">Provide total value taxable electronic service <span class="textStar"> * </span> </p>
                    <div class="d-flex justify-content-between">
                      <p class="fw-normal my-3">1. Total value of taxable electronic service exclusive of VAT</p>
                      <app-sale-amount
                      (OnSaleAmount)="OnSaleAmount($event)"
                      (OnTaxSaleAmount)="OnTaxSaleAmount($event)"
                      ></app-sale-amount>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="fw-normal my-3">2. Total VAT to be remitted (7% of 1.)</p>
                      <app-tax-amount
                      [DataSaleAmount]="DataSaleAmount"
                      (OnTaxAmount)="OnTaxAmount($event)"
                      ></app-tax-amount>
                    </div>
                  </div>

                  <div *ngIf="dataTax.filingType == '1'" class="my-5">
                      <h5 class="card-title ">In Case of late filing and payment, or Additional filing</h5>
                      <div class="d-flex justify-content-between">
                        <p class="fw-normal my-3">3. Surcharge <i class="bi bi-question-circle-fill"></i></p>

                        <app-surcharge
                        [DataTaxAmount]="DataTaxAmount"
                        (Onsurcharge)="Onsurcharge($event)"
                        ></app-surcharge>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="fw-normal my-3">4. Penalty<i class="bi bi-question-circle-fill"></i></p>

                        <app-penalty></app-penalty>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="fw-normal my-3">5. Total amount of VAT,surcharge,and penalty to be remitted (2.+3.+4.)</p>
                        <app-total-amount
                        [DataTotalAmount]="DataTotalAmount"
                        (OnTotalAmount)="OnTotalAmount($event)"
                        ></app-total-amount>
                      </div>

                  </div>

                </div>
              </div>
            </div>
            <div class="my-3 d-flex flex-row justify-content-between mx-auto" style="width: 80%;">
              <button type="button" class=" btn btn-outline-dark " style="width: 20%;">Back</button>
              <button type="button" class="btn btn-dark" style="width: 20%;" (click)="next()">Next</button>
              <div style="width: 55%;"></div>
            </div>

          </div>
        </div>


        <div id="test-l-2" class="content">
          <div class="form-group">
            <div class="col d-flex justify-content-center mx-auto">
              <div class="card " style="width: 80%;">
                <div class="card-body">
                  <div>
                    <h5 class="card-title ">Tax Filing Detail</h5>
                    <hr>
                    <div class="d-flex justify-content-between" style="width: 40%;">
                      <p class="fw-bold" style="width: 30%;">Type of filing</p>
                        <p *ngIf="dataTax.filingType == '0'" class="fw-normal text-start" style="width: 50%;">Ordinary Filing</p>

                        <p *ngIf="dataTax.filingType == '1'" class="fw-normal text-start" style="width: 50%;">Additional Filing</p>

                    </div>
                    <div class="d-flex justify-content-between" style="width: 40%;">
                      <p class="fw-bold" style="width: 30%;">VAT Month</p>
                      <p class="fw-normal text-start" style="width: 50%;">{{dataTax.month_name+' '+ dataTax.year}}</p>
                    </div>

                  </div>
                  <div class="my-5">
                    <div class="d-flex justify-content-between ">
                      <h5 class="card-title ">Tax Computtion</h5>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between align-self-baseline">
                      <p class="fw-bold my-3">Total value of taxable electronic service exclusive of VAT</p>
                      <p class="fw-bold my-3">{{dataTax.saleAmount | number :'1.2-2'}} THB</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="fw-bold my-3">Total VAT to be remitted.</p>
                      <p class="fw-bold my-3">{{dataTax.taxAmount | number :'1.2-2'}} THB</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="fw-normal">(7% of Total value of taxable electronic service exclusive of VAT)</p>
                      <p class="fw-bold my-3">{{dataTax.taxAmount | number :'1.2-2'}} THB</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="fw-bold my-3">Total Amount Payable</p>

                    </div>
                  </div>

                  <div class="my-5">
                    <div class="d-flex justify-content-between ">
                      <h5 class="card-title ">Declaration</h5>
                    </div>
                    <hr>
                    <p class="fw-normal my-3">I hereby certify thay information give above are true and correct and gdree to be bound by such information</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="my-3 d-flex flex-row justify-content-center mx-auto" style="width: 80%;">
              <!-- <button type="button" class="btn btn-dark"  (click)="back()">Confirm and Submit</button> -->
              <!-- Button trigger modal -->
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal1">
              Confirm and Submit
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">JSON</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>{{ dataTax | json }}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            </div>


            <!-- <div class="my-3 d-flex flex-row justify-content-center mx-auto" style="width: 80%;">
              <button type="button" class="btn btn-dark"  (click)="back()">Confirm and Submit</button>
            </div> -->

          </div>
        </div>

      </div>
  </div>
</div>


